 <div class="mx-label">
     <label>
        @Title
    </label>
    <p>@Text</p>
</div>


@code {
    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public string Text { get;set; }
    
    
}