@inherits LoadingScreenBase

<div class="loading-screen @(IsVisible ? "show" : "hide")">
    <div>
        <div id="spinner1" class="spinner">
            <span></span>
        </div>
        <div id="spinner2" class="spinner">
            <span></span>
        </div>
        <div id="spinner3" class="spinner">
            <span></span>
        </div>
    </div>
</div>

@code {

}