<div class="@GenerateClasses()">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    private PagesControl Parent { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Closable { get; set; } = false;

    [Parameter]
    public string Text { get; set; }

    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "TabPage must exist within a TabControl");

        base.OnInitialized();

        Parent.AddPage((PagesItem)(object)this);
    }

    public bool IsActive()
    {
        return Parent.ActivePage == (PagesItem)(object)this;
    }

    public string GenerateClasses()
    {
        if (IsActive())
            return "mx-page mx-active-page";

        return "mx-page";
    }
        
}